{% include 'navbar.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='wwdb.css')}}"/>

	<title>Why Donate Blood?</title>
	
</head>
<body>
	<div class="container">
		<h1>Why Donate Blood?</h1>
		<p>Donating blood is one of the most selfless acts you can do for someone else. By giving just a little bit of your time and a pint of your blood, you can help save someone's life. Here are some reasons why you should consider donating blood:</p>
		<ul>
			<li><strong>You can help save lives.</strong> Blood transfusions are a crucial part of medical treatment, and donated blood is essential to ensure that hospitals have enough blood on hand to meet patients' needs. By donating blood, you can help ensure that someone in need will receive the life-saving treatment they require.</li>
			<li><strong>You'll get a free health checkup.</strong> Before you donate blood, a nurse or doctor will check your blood pressure, hemoglobin levels, and other vital signs to ensure that you are healthy enough to donate. This can help you detect any underlying health issues that you may not have been aware of.</li>
			<li><strong>You'll feel good about yourself.</strong> Knowing that you've helped save someone's life can give you a sense of pride and satisfaction that few other experiences can match.</li>
			<li><strong>You'll help your community.</strong> Blood donation is a community effort, and by donating blood, you'll be doing your part to help ensure that your community has the resources it needs to care for its sick and injured.</li>
		</ul>
		<p>Donating blood is a simple, painless process that typically takes less than an hour. If you're interested in donating blood, contact your local blood bank or hospital</a> to find out how you can get started.</p>

		<hr>

		<h1>Myths and Facts</h1>
		<p>Every year there is a shortage in the actual demand and supply of Blood donations across India. There are many misconceptions regarding blood donations that must be cleared. Here are a few myths and facts about blood donation:</p>
		<ul>
			<li><strong>Myth #1: Giving blood hurts.</strong><br>Fact: The only pain you’ll feel is the quick prick of the needle when it is inserted. The area may be slightly sore afterward, but this settles in a few hours.</li>

			<li><strong>Myth #2: Blood donation increases the risk of infections.</strong><br>Fact: A new sterile needle is used each time someone donates blood and is then immediately discarded. Strict procedures are followed to avoid any kind of infection.</li>

			<li><strong>Myth #3: I can’t give blood because I have high cholesterol.</strong><br>Fact: Having high cholesterol does not disqualify you from donating blood, as long as you are otherwise healthy. Consult your doctor for more details.</li>

			<li><strong>Myth #4: I can’t give blood because I am on medication.</strong><br>Fact: As long as you are healthy, most medications will not disqualify you from donating blood. Speak to your doctor to clear your doubts about this.</li>

			<li><strong>Myth #5: Blood donation takes a lot of time.</strong><br>Fact: The whole procedure of blood donation from the time of registration takes less than 1 hour.</li>

			<li><strong>Myth #6: Blood donation lowers your immunity.</strong><br>Fact: This is completely false. Your body’s immunity level is not affected by blood donation.</li>

			<li><strong>Myth #7: Donating blood frequently causes an iron deficiency.</strong><br>Fact:  No, a healthy individual with good eating habits can donate blood four times a year with a gap of three months. It does not affect your iron levels.</li>

		</ul>

	</div>
</body>